* {
    box-sizing: border box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

p {
    justify-content: center;
    line-height: 35px;
    width: 95%;
}

section {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;

    color: rgb(20, 20, 20);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    height: 400px;
    padding: 40px 4%;
    text-align: center;
    width: 100%;

    word-wrap: break-word;
}

section h1 {
    font-size: 48px;
    margin-bottom: 20px; 
}

section:nth-of-type(1){
    background-image: url("../assets/Beach.jpg");
}

section:nth-of-type(3){
    background-image: url("../assets/Baalbek.jpg");
}

section:nth-of-type(5){
    background-image: url("../assets/Byblos.jpg");
    background-position: center center;
    background-repeat: no repeat;
    background-size: cover;
}

section:nth-of-type(7){
    background-image: url("../assets/Sidon.jpg");
}

section:nth-of-type(9){
    background-image: url("../assets/Tyre.jpg");
}
